﻿body{background-attachment: fixed;}
body *{padding:0px;margin:0px;font-family:Comic Sans MS;}
.temizle{clear:both;}
.genelDiv{border:1px solid white;margin:0px auto;width:1100px;border-image:url(images/solCizgi.jpg)}
.menu{border:1px solid white;margin-bottom:10px;}
	.menu ul li{list-style:none;float:left;margin-right:30px;margin-left:40px;}
		.menu ul li a{text-decoration:none;color:#312783;font-size:20px;}
			.menu ul li a:hover{text-decoration:none;color:white;font-size:20px;}
		.menu ul li img{position:absolute;margin-left:30px;}
.icerik{border:1px solid white;margin-bottom:20px;}
.sosyalAglar{}
.footer{/*border:1px solid white;*/}
	.footer h5{text-align:center;}
